@import url('base.css');

h1 {
    margin-bottom: 30px;
}

header .navbar {
    display: flex;
    justify-content: space-between;
}

main .homepage-background  {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url("../img/homepage-background.png");
    background-size: 100%;
    background-size: cover;
    filter: blur(6px);
}

main .homepage-content {
    position: relative;
    top: -300px;
    margin-bottom: -100px;
}

.register-btn {
    display: flex;
    justify-content: center;
}

a {
    color: black;
}