@import url('base.css');

h1 {
    margin-bottom: 30px;
}

.subscriber-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.form-inline {
    margin-bottom: 30px;
}
