{% extends 'social_network_app/base_profile.html' %}

{% block title %}
    Create new group
{% endblock %}

{% block cssfiles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'social_network_app/css/register.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1>Create new group</h1>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
         {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}

                    {% if field.errors %}
                        <div class="alert alert-danger mt-3">
                            {{field.errors}}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            {% for field in file_form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}

                    {% if field.errors %}
                        <div class="alert alert-danger mt-3">
                            {{field.errors}}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" name="submit" value="create">Submit</button>
    </form>

{% endblock %}

