{% extends 'social_network_app/base_profile.html' %}

{% block title %}
    Dialogs
{% endblock %}

{% block cssfiles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'social_network_app/css/subscribers-subscriptions.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
        {% if not users %}
            <p class="text-center">No {{ title.lower }}</p>
        {% endif %}
        <br>
        <div class="row">
            {% for profile, user in users %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="subscriber-info">
                    <div class="subscriber-avatar">
                        <img src="{{ profile.avatar.url }}" alt="Subscriber avatar">
                    </div>
                    <a href="/user/{{ user.id }}/">
                        <h2 class="subscriber-name">{{ user.first_name }} {{ user.last_name }}</h2>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock %}

